<nav class="social-links" aria-label="Contact and social profiles">
  <a href="mailto:{{ site.author.email }}">{% include portfolio-icon.html name='email' %}<span>Email</span></a>
  <a href="{{ site.author.googlescholar }}" aria-label="Google Scholar">{% include portfolio-icon.html name='scholar' %}<span>Scholar</span></a>
  <a href="https://github.com/{{ site.author.github }}">{% include portfolio-icon.html name='github' %}<span>GitHub</span></a>
  <a href="https://x.com/{{ site.author.twitter }}" aria-label="X, formerly Twitter, @{{ site.author.twitter }}">{% include portfolio-icon.html name='x' %}<span>X</span></a>
</nav>
